@font-face {
    font-family: "TickingTimebombBB";
    src: url("./fonts/TickingTimebombBB.ttf"),
}

@font-face {
    font-family: "TickingTimebombBB";
    src: url("./fonts/TickingTimebombBB.ttf"),
}
